<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <context:property-placeholder location="classpath:person.properties"></context:property-placeholder>-->
    <context:property-placeholder location="classpath*:**/*.properties"></context:property-placeholder>

    <bean id="personDao" class="com.gj.dao.impl.PersonDaoImpl">
        <property name="person" ref="person"></property>

    </bean>

    <bean id="personService" class="com.gj.service.impl.PersonService">
        <property name="personDao" ref="personDao"></property>
    </bean>

    <bean id="person" class="com.gj.domain.Person">
        <property name="id" value="${person.id}"></property>
        <property name="age" value="${person.age}"></property>
        <property name="name" value="${person.name}"></property>
        <property name="legs">
            <list>
                <value>first</value>
                <value>second</value>
            </list>
        </property>
        <property name="legsMap">
            <map>
                <entry key="key1" value="first"></entry>
                <entry key="key2" value="second"></entry>
            </map>
        </property>
        <property name="legsSet">
            <set>
                <value>legs</value>
            </set>
        </property>
    </bean>

    <bean name="account1,account2,account3" class="com.gj.domain.Account">
        <property name="name">
            <value>hello1</value>
        </property>
    </bean>

    <bean class="com.gj.domain.Account">
        <property name="name">
            <value>hello2</value>
        </property>
    </bean>

    <bean class="com.gj.domain.Account">
        <property name="name">
            <value>hello3</value>
        </property>
    </bean>

    <bean id="animal" class="com.gj.domain.Animal">
        <constructor-arg name="name" value="dog"></constructor-arg>
    </bean>

    <bean id="myAspect" class="com.gj.aspect.MyAspect"></bean>

    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:after method="logAfter" pointcut="execution(void com.gj.service.impl.PersonService.sayHello())"></aop:after>
        </aop:aspect>

        <aop:aspect ref="myAspect">
            <aop:before method="logBefore" pointcut="execution(void com.gj.service.impl.PersonService.sayHello())"></aop:before>
        </aop:aspect>
    </aop:config>

    <!-- jedis 配置 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig" >
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="maxWaitMillis" value="${redis.maxWait}" />
    </bean>

    <!-- redis服务器中心 -->
    <bean id="connectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
        <property name="poolConfig" ref="poolConfig" />
        <!-- <property name="password" value="${redis.password}" /> -->
        <property name="timeout" value="${redis.timeout}" ></property>
        <constructor-arg ref="clusterConfig">
        </constructor-arg>
    </bean >

    <bean id="clusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis1.host}"></constructor-arg>
                    <constructor-arg value="${redis1.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis2.host}"></constructor-arg>
                    <constructor-arg value="${redis2.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis3.host}"></constructor-arg>
                    <constructor-arg value="${redis3.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis4.host}"></constructor-arg>
                    <constructor-arg value="${redis4.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis5.host}"></constructor-arg>
                    <constructor-arg value="${redis5.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis6.host}"></constructor-arg>
                    <constructor-arg value="${redis6.port}"></constructor-arg>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" >
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="keySerializer" >
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
        </property>
        <property name="valueSerializer" >
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
        </property>
    </bean>
    <bean id="redisClient" class="com.gj.service.impl.RedisClient">
        <property name="redisTemplate" ref="redisTemplate"></property>
    </bean>
</beans>
